@import "../node_modules/bootstrap/scss/bootstrap";


.btn:focus {
  box-shadow: 0 0 0 0;
}
.r1 {
  color: #E6609C;
}
.r2 {
  color: #E8A56D;
}
.r3 {
  color: #63BA6E;
}
.r4 {
  color: #52ABEB;
}
.r5 {
  color: #986FE6;
}